* {
    box-sizing: border-box;
}

.canvas-container {
    /* background-color: green; */
    text-align: left;
}

#my-canvas {
    background-color: rgb(235, 235, 235);
}

.gallery-container img {
    width: 120px;
    height: 120px;
}

.gallery-container img:hover {
    cursor: pointer;
}

button {
    cursor: pointer;
}