@font-face {
    font-family: righteous;
    src: url(/fonts/Righteous-Regular.ttf);
}

#my-canvas {
    /* background-color: green; */
    /* text-align: left; */
    border-radius: 2px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
}

#my-canvas {
    background-color: #fde5cc;
    margin-right: 30px;
}

.meme-editor {
    margin-top: 20px;
}

.gallery-container {
    margin: 20px;
    width: 90vw;
}

.gallery-container img {
    width: 120px;
    height: 120px;
    border-radius: 4px;
}

.gallery-container img:hover {
    cursor: pointer;
}

.canvas-controlers {
    /* width: 100%; */
    display: grid;
    width: 100vw;
    max-width: 365px;
    grid-template-columns: repeat(5, minmax(3rem, 1fr));
    grid-template-rows: repeat(6, minmax(3rem, 1fr));
    grid-template-areas: "line-text line-text line-text line-text line-text " " switch addLine delete lineDown lineUp" " increase decrease left center right" " font font font stroke color " " stickers stickers stickers stickers stickers" "save save download share share";
    grid-gap: 10px;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
}

.btn {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 8px;
    /* width: 30px;
    height: 30px; */
}

.btn:hover {
    background-color: #ffcd98;
}

.btn-menu {
    display: none;
    color: white;
    background-color: #f77f02;
    border: none;
    font-size: 30px;
}

.btn-menu:hover {
    cursor: pointer;
    color: black;
}


/*grid areas*/


/* main-header */

.main-header {
    background-color: #f77f02;
    /* height: 130px; */
    /* height: 7.8125rem; */
    /* box-shadow: inset 0px -6px 0px 0px #1d1d1d; */
    /* margin-bottom: 6px; */
}

.main-header .logo {
    color: white;
    font-family: righteous, sans-serif;
    font-size: 2.5em;
}

.main-header .main-nav {
    font-size: 1rem;
    /* font-family: Lato-Bold, sans-serif; */
}

.header-container {
    width: 95vw;
}

.main-header .main-nav a {
    display: block;
    padding: 1.5em;
    font-family: righteous, sans-serif;
    /* padding-left: 1.5em 1.5em 1.5em 0; */
    color: white;
    /* border-right: 2px solid #1d1d1d; */
    /* border-bottom: 7px solid #1e1e1e; */
    text-transform: uppercase;
}


/* .main-header .main-nav li:first-child a {
    border-left: 2px solid #1d1d1d;
} */

.main-header .main-nav li:hover a {
    color: rgb(7, 7, 7);
}

.main-header .main-nav li {
    text-align: center;
}

.main-header .main-nav .current-page {
    box-shadow: inset 0px -6px 0px 0px rgb(35, 221, 82);
}

body.menu-open .main-screen {
    /* display: block; */
    pointer-events: auto;
    opacity: 1;
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    /* display: none; */
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
    z-index: 1;
}


/*mobile only mnu*/

@media (max-width: 770px) {
    .meme-editor {
        flex-direction: column;
        margin: 20px;
    }
    .canvas-controlers {
        grid-template-columns: repeat(5, minmax(20px, 1fr));
        grid-template-rows: repeat(6, minmax(20px, 1fr));
    }
    #my-canvas {
        margin-right: 0;
        margin-bottom: 30px;
        width: 350px;
        height: 350px;
    }
    /* .main-header .main-nav {
        display: none;
    } */
    .main-header {
        height: 60px;
    }
    .btn-menu {
        display: block;
    }
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        /* height: 100vh; */
        flex-direction: column;
        /* border-inline-start: 1px solid #ccc; */
        border-radius: 2px;
        background-color: #f77f02;
        width: 25%;
        transform: translateX(100%);
        transition: transform .6s;
        z-index: 2;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
}

@media (max-width: 360px) {
    #my-canvas {
        width: 250px;
        height: 250px;
    }
}